html {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;    
    background-color: white;
    font-family: 'Orbitron', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.bubble {
    height: 8px;
    width: 8px;
    border-radius: 25px;
    position: absolute;
}

.ship {
    height: 50px;
    width: 30px;
    border-radius: 25px;
    position: absolute;
}

.scoreboard {
    height: 100px;
    width: 200px;
    position: absolute;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
}